.add-text{
    font-size:1rem;
    font-weight:bolder ;
    margin:0.5rem
}

.renderButton-inside{
text-align: center;
color: white;
vertical-align: middle;

}
.renderButton-outside{
float: right;
margin: 1rem;
margin-right: 0;
}
    